.unity-scroller--vertical > .unity-scroller__low-button {
    background-image: url('project://database/Assets/_GameFiles/Graphical%20Media/GUI/Scrollbar/Scrollbar_Up_Button.png?fileID=21300000&guid=4a52f1cbe7df80140ba4315015cc6f83&type=3#Scrollbar_Up_Button');
    background-color: unset;
    -unity-background-image-tint-color: unset;
}

.unity-scroller--vertical > .unity-scroller__high-button {
    background-image: url('project://database/Assets/_GameFiles/Graphical%20Media/GUI/Scrollbar/Scrollbar_Down_Button.png?fileID=21300000&guid=03b880673358b12478d1efe1d72dd2a0&type=3#Scrollbar_Down_Button');
    background-color: unset;
    -unity-background-image-tint-color: unset;
}

.unity-base-slider__drag-container > .unity-base-slider__tracker {
    background-image: url('project://database/Assets/_GameFiles/Graphical%20Media/GUI/Scrollbar/Scroll_Bar_Slot.png?fileID=21300000&guid=bb23fffc1f91617408ec579590ba9514&type=3#Scroll_Bar_Slot');
    margin-top: 0;
    margin-bottom: 0;
    background-color: unset;
    -unity-background-image-tint-color: unset;
}

.unity-base-slider__drag-container > .unity-base-slider__dragger {
    background-image: url('project://database/Assets/_GameFiles/Graphical%20Media/GUI/Scrollbar/Scroll_Bar_Button.png?fileID=21300000&guid=1c7983251ae27b5498af3f43fc8491e0&type=3#Scroll_Bar_Button');
    margin-top: 0;
    margin-bottom: 0;
    background-color: unset;
    -unity-background-image-tint-color: unset;
}

.unity-scroll-view__content-container {
}

.unity-base-slider:focus .unity-base-slider__dragger {
    border-left-color: rgba(161, 161, 161, 0.5);
    border-right-color: rgba(161, 161, 161, 0.5);
    border-top-color: rgba(161, 161, 161, 0.5);
    border-bottom-color: rgba(161, 161, 161, 0.5);
}

#unity-low-button {
    display: none;
}

#unity-high-button {
    display: none;
}

#unity-slider {
    margin-top: 0;
    margin-bottom: 0;
}
